#r{
    width: 100px;
    height: 100px;
    background-color: red;
}
#g{
    width: 100px;
    height: 100px;
    background-color: green;
}
#y{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.div1{
    display: flex;
}